.title-login {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff; 
}

.intro-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ddd;
}

.button-login {
    width: 200px; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-login:hover {
    background-color: #45a049;
}
