.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    height: 100vh;
    width: 100vw;             
    text-align: center;     
    padding: 20px;
    box-sizing: border-box;
    margin: 0;       
}

.loading-text {
    font-size: medium;
    color: #666;
    text-align: center;
}

.title-login {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0;
}

.subtitle-login {
    font-size: 1.5em;
    margin-top: 5px; 
    margin-bottom: 25px;
}

.intro-text {
    font-size: 1.1em;
    margin-top: 5px; 
    margin-bottom: 15px;
    color: #ddd; 
}

