.background {
    background-image: url('/images/login-font.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 0;     
    background-color: rgba(36, 36, 36, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;  
    box-sizing: border-box;
    width: 520px;
    height: auto;
}

.logo {
    width: 190px;
    margin: 10px 0; 
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    height: 100vh;
  }

.loading-text {
    font-size: medium;
    color: #9d9d9d;
    text-align: center;
}

.title-login {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px; 
}

.subtitle-login {
    font-size: 1.5em;
    margin-top: 5px; 
    margin-bottom: 15px;
}

.login-text {
    font-size: 1.1em;
    margin-top: 10px; 
    margin-bottom: 15px;
    color: #ddd; 
}

.button-login{
    width: 200px;
    margin-bottom: 25px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
}

