name: SonarCloud Analysis

on:
  push:
    branches:
      - main # Ejecuta el an치lisis en cada push a la rama 'main'.
  pull_request:
    branches:
      - main # Ejecuta el an치lisis en los pull requests hacia 'main'.

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar el c칩digo fuente
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Configurar Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18 # Asegura que se use la versi칩n adecuada de Node.js.

      # 3. Instalar dependencias del proyecto
      - name: Install dependencies
        run: npm install

      # 4. Generar reporte de cobertura con Jest
      - name: Run Jest with coverage
        run: npx jest --coverage # Genera el archivo coverage/lcov.info.

      # 5. Ejecutar Sonar Scanner
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=cantor11_skyshield-test
            -Dsonar.organization=cantor11
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=./src
            -Dsonar.language=js
            -Dsonar.exclusions=node_modules/**
            -Dsonar.javascript.lcov.reportPaths=./coverage/lcov.info
